.Button { 
    margin-left: 20px; 
    margin-top: 5px;
    width: 20%;
    height: 50px;
}

@media (max-width: 650px) { 
    .Button {
        margin-top: 10px;
        margin-left: unset;
        position: fixed;
        width: 50%;
    }
}